 .navbar_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

.lappy_navbar{
    width: 100%;
    margin: 1.8rem;
    padding: 1.3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}


.navbar{
    width: 70%;
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    list-style: none;
   
}

.navbar li a{
    color: #15f4ee;
}
.navbar li a:hover{
    color: white;
}

.mobile_navbar_container{
    display: none;
}


@media screen and (max-width:930px) {
    .navbar{
        display: none;
    }

    .logo{
        font-size: 2rem;
        color: white;
    }

    .hamburger-menu{
        font-size: 2rem;
        color: white;
    }

    .mobile_navbar_container{
        justify-content: center;
    }
    .mobile_navbar{
        border: 2px solid yellow;
        margin: .3rem;
        padding: 0.3rem;
        line-height: 2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        position: absolute;
        z-index: 1;
        background: rgba(56, 47, 47, 0.23);
        /* border-radius: 16px; */
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(3.1px);
        -webkit-backdrop-filter: blur(3.1px);
        border: 1px solid rgba(199, 191, 191, 0.82);
    }

    .mobile_navbar li a{
        color: #15f4ee;
        /* color: white; */
        }
}