.transbtn {

text-align: center;
    color: #15f4ee;
    /* width: 110px; */
    margin-top: 5px;
    background-color: black;
    margin: 15px solid #15f4ee;
    padding: 12px;
    font-weight: bold;
    border-radius: 22px;
    cursor: pointer;
    transition: 1.5s;
    text-shadow: 0 0 0 0.45px currentColor;

}

.transbtn:hover {

    box-shadow: 0 2px 3px 0 #15f4ee inset, 0 2px 3px 0 #15f4ee;
   

}