*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: none;
}
a{
  text-decoration: none;
}

body {
  background-color: black;
  font-family: 'Noto Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
